.text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 8px;
  font-family: var(--font-generic);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.placeholder {
  color: var(--text-color);
}

.option {
  color: var(--unselected-color);
  margin-top: 4px;
}

.option:hover {
  color: var(--text-color);
}

.rectangle {
  width: fit-content;
  height: 31px;
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
  border-bottom: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.rectangle-close {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid var(--text-color);
}

:read-only {
  cursor: auto;
}

.placeholder-container {
  width: 100%;
  margin-top: 6px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  margin-left: auto;
  margin-right: 8px;
}

.options-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 8px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  background-color: var(--primary-color);
}

.line {
  width: 90%;
  height: 0px;
  border: 1px solid var(--text-color);
  align-self: center;
  margin-bottom: 4px;
}
